{{#if siteSettings.show_enabled}}
  <div class="issue-report-entry">
    <p style="font-size: 1.15em; padding-bottom: 4px; padding-top: 4px; padding-left: 15px; background-color: antiquewhite; color: #222;">
      If you have a problem while using our product and service, found a bug or request a new feature, please submit your ticket in the dedicated 
        <a href="{{siteSettings.gl_bugs_url}}" target="_blank" rel="nofollow noopener">bug tracker</a>
      .
    </p>
  </div>
{{/if}}